# Pandas Problems:

We'll be working with the `wine` datasets that are located in this directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

In [12]:
import pandas as pd
import numpy as np
red_wine_df = pd.read_csv('winequality-red.csv', delimiter = ';')
white_wine_df = pd.read_csv('winequality-white.csv', delimiter = ';')

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data

In [4]:
red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
white_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

3) Let's find wines with relatively low alcohol content.

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a new column for each `DataFrame` (the reds and whites) indicates whether the `alcohol` content is greater than or less than the mean alcohol content (you will do this separately for `reds` and `whites`. **hint**: you can use `np.where()` for this.
  * Group each data frame by `['quality', 'new column']` and save these results as a new mini `DataFrame`' (**don't forget to reset index**)
  * Merge these two mini `DatFrames` together (like we did in class today) and compare the averages of the other columns between the `red` and `white` datasets.

In [29]:
red_mean = red_wine_df['alcohol'].mean()
white_mean = white_wine_df['alcohol'].mean()
red_wine_df['mean_alcohol']=np.where(red_wine_df['alcohol'] > red_mean, 'Red Above', 'Red Below')
white_wine_df['mean_alcohol']=np.where(white_wine_df['alcohol'] > white_mean, 'White Above', 'White Below')
group_red_df = red_wine_df.groupby(['quality','mean_alcohol']).mean()
group_red_df = group_red_df.reset_index()
group_white_df = white_wine_df.groupby(['quality', 'mean_alcohol']).mean()
group_white_df = group_white_df.reset_index()
all_wine_df = pd.concat([group_red_df,group_white_df],axis = 1)
all_wine_df.describe()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,...,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000
mean,5.500000,8.451473,0.593117,0.271716,2.616868,0.088263,12.761483,35.207888,0.996690,3.321397,...,0.293639,0.338653,6.174315,0.043610,35.150458,135.025211,0.993904,3.199037,0.479832,10.739082
std,1.783765,0.801463,0.247451,0.134489,0.435024,0.018238,4.017655,11.941854,0.000934,0.120811,...,0.056967,0.037204,2.589899,0.010647,10.135461,23.367264,0.002360,0.048357,0.026733,1.149415
min,3.000000,6.900000,0.320000,0.006667,1.950000,0.066500,4.500000,11.333333,0.994945,3.055000,...,0.190000,0.287872,2.500000,0.025500,14.638298,90.042553,0.990075,3.131212,0.416250,9.469697
25%,4.000000,8.150611,0.437535,0.231877,2.441103,0.074078,12.543182,31.873016,0.995822,3.289189,...,0.269435,0.323323,4.195229,0.035597,28.764785,120.057974,0.991943,3.169498,0.468125,9.644145
50%,5.500000,8.356061,0.530077,0.268002,2.493858,0.085982,13.994940,35.226744,0.996892,3.306679,...,0.292062,0.331724,5.538362,0.039625,35.308099,131.778017,0.994197,3.189007,0.479547,10.805550
75%,7.000000,8.644435,0.676851,0.363594,2.761021,0.097014,14.686496,39.590516,0.997395,3.350225,...,0.318602,0.340821,8.193457,0.052003,39.385619,151.297279,0.995931,3.214762,0.493914,11.584525
max,8.000000,9.900000,1.261667,0.525000,3.545000,0.129571,17.591912,59.759191,0.997829,3.536667,...,0.397128,0.450000,10.600000,0.064333,57.708333,177.416667,0.997000,3.335000,0.527189,12.625000

4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the above the median of the fixed acidity levels among **both** the red and white wines.

 * Create a variable in the `red wines` data called `type` and set the value as `'red'`
 * Create a variable in the `white wines` data called `type` and set the value as `'white'`
 * `Join` the red and white wine dataframes together (remember to use the correct `axis`)
 * Identify the median `fixed acidity` among all the data
 * Create a new column using `np.where()`, identify the rows into **above** the median or **below** the median bins based off their fixed acidity
 * Group the data by this newly created column identifying the average across all the other columns.
 * Group the data by `['type', 'new column']` and get a count, see which type of wine (red vs white) has more rows **above** the median.
 * Return back to me all those rows that are **below** the median in terms of fixed acidity.

In [35]:
red_wine_df['type'] = 'red'
white_wine_df['type'] = 'white'
all_wine_df = pd.concat([red_wine_df, white_wine_df])
acid_mean = all_wine_df['fixed acidity'].mean()
all_wine_df['acid_mean'] = np.where(all_wine_df['fixed acidity'] > acid_mean, 'Above', 'Below')
all_wine_df.groupby(['type', 'acid_mean']).count()
all_wine_df[all_wine_df['acid_mean'] == 'Below']

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,mean_alcohol,type,acid_mean
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.99590,3.28,0.54,9.2,5,Red Below,red,Below
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9,5,Red Below,red,Below
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7,6,Red Below,red,Below
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.3,5,Red Below,red,Below
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.99720,3.47,0.55,9.4,5,Red Below,red,Below
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.210,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,White Above,white,Below
4894,6.6,0.320,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,White Below,white,Below
4895,6.5,0.240,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,White Below,white,Below
4896,5.5,0.290,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,White Above,white,Below
4897,6.0,0.210,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,White Above,white,Below